[Desktop Entry]
Encoding=UTF-8
Name=Link to 
Type=Link
URL=https://www.udacity.com/course/sql-for-data-analysis--ud198
Icon=text-html
Name[en_US]=course link
