[Desktop Entry]
Encoding=UTF-8
Name=Link to SQL for Data Science - Home | Coursera
Type=Link
URL=https://www.coursera.org/learn/sql-for-data-science/home/welcome
Icon=text-html
